@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@300;400;700&display=swap');

:root {
    --orange: #E06733;
    --green: #499A18;
    --light-green: #EDF2EC;
    --light-green--prices-active: #D6E7D2;
    --green-contacts-active: #C1E698;
    --greeny-gray-round-active: #8BA07E;
    --gray: #636060; 
    --light-gray: #717171;
    --gray-border: #E3E1D5;
    --gray-round-prices: #D9D9D9;
    --gray-round-contacts: #AEA1A1;
    --black: #000000;
    --black-nav: #010201;
    --white: #FFFFFF;
}

html {
    scroll-behavior: smooth;
    }

:hover {
    transition: 0.5s;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--gray);
}

.h1_hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 1px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.wrapper {
    max-width: 1220px;
    margin: 0 auto;
}

.section__container_green {
    background: var(--light-green);
}

.orange-button {
    width: 10rem;
    height: 3.125rem;

    font-family: 'Inika';
    font-size: 1.25rem;
    color: var(--orange);

    border: 1px solid var(--orange);
    border-radius: 5px;
}

.orange-button:hover {
    cursor: pointer;
    background: var(--orange);
    color: var(--white);
}

.orange-button:active {
    cursor: pointer;
    background: var(--green);
    color: var(--white);
    border: var(--green);
}

.button__arrow {
    width: 1rem;
    height: 1rem;

    background: var(--gray-round-prices);
    background-image: url('../icons/prices_arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}


/* HEADER STYLES START */

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 8.4375rem;
}

.header__logo {
    display: flex;
    align-items: center;

    padding-bottom: 0.5rem;
}

.logo__text {
    margin-bottom: 0.5rem;

    font-family: 'Inika', serif;
    color: var(--black);
}

.header__logo:hover .logo__img {
    background: url('../icons/logo_header_fill_green.svg');
}

.header__logo:hover .logo__text {
    color: var(--green);
    font-weight: 700;
}

.header__logo:active .logo__img {
    background: url('../icons/logo_header_fill_orange.svg');
}

.header__logo:active .logo__text {
    color: var(--orange);
    font-weight: 700;
}

.nav-list {
    display: flex;
}

.nav-list__item {
    padding-left: 2.875rem;
}

.nav-list__link {
    font-family: 'Inika', serif;
    color: var(--black-nav);
}

.active {
    font-weight: bold;
    color: var(--orange);
}

.nav-list__link:hover {
    font-weight: bold;
    color: var(--orange);
}

.nav-list__link:active {
    font-weight: bold;
    color: var(--green);
}

.main-header__burger {
    display: none;
}

/* HEADER STYLES END */



/* WELCOME SECTION STYLES START */

.welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 33.125rem;
}

.welcome__img {
    width: 28rem;
    height: 25.4375rem;

    order: -1;
    background: center url("../images/welcome_leafs.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.welcome__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 34.365rem;
    height: 21.25rem;
}

.welcome__h2 {
    margin: 0;

    font-size: 2.8125rem;
    color: var(--light-gray);
}

.h2_green {
    color: var(--green);
}

.welcome__text {
    max-width: 33rem;

    font-size: 1.25rem;
    line-height: 2.1875rem;
}

.welcome__button {
    max-width: 9.875rem;
    height: 2.75rem;

    border: 2px solid var(--orange);
    border-radius: 10px;
    text-transform: uppercase;
    background: var(--light-green);
}

.welcome__button:hover {
    cursor: pointer;
    background: var(--orange);
    color: var(--white);
}

.welcome__button:active {
    cursor: pointer;
    background: var(--green);
    color: var(--white);
    border: var(--green);
}

/* WELCOME SECTION STYLES END */



/* ABOUT SECTION STYLES START */

.about {
    min-height: 41.625rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__content {
    max-width: 37.81rem;
    max-height: 21.18rem;
}

.about__text {
    font-size: 1.25rem;
    line-height: 1.875rem;
}

.about__h2 {
    max-width: 28.75rem;
    margin-top: 0;

    font-family: 'Inika';
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3.25rem;
    color: var(--green);
}

.about__h2_orange {
    color: var(--orange);
}

.about__img {
    width: 29rem;
    height: 30rem;
    background: url("../images/about_plant.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

/* ABOUT SECTION STYLES END */



/* SERVICES SECTION STYLES START */

.services {
    min-height: 81.25rem;
}

.services__top-container {
    display: flex;
    justify-content: space-between;

    max-width: 63.125rem;
    min-height: 5.875rem;
    padding-top: 2.5rem;
    margin-bottom: 5.125rem;
}

.services__h2 {
    max-width: 19.125rem;
    margin: 0;

    font-family: 'Inika';
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3.25rem;
    color: var(--green);

}

.services__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-width: 35rem;
}

.services__filter__button {
    background: var(--light-green);
}

.services__list {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;

    min-height: 59.6875rem;
    margin: 0;
    padding: 0;
}

.services__item {
    width: 20.625rem;
    height: 28.125rem;

    border: 1px solid var(--gray-border);
    border-radius: 1.25rem;
    overflow: hidden; 

    text-align: center;
}

.service__img {
    width: 20.625rem;
    height: 21.875rem;
    object-fit: cover;
    padding-bottom: 0.25rem;
}

.service__name {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--orange);
}

.service__text {
    color: var(--light-gray);
}

/* SERVICES SECTION STYLES END */



/* PRICES SECTION STYLES START */

.prices {
    height: 32.5em;
    padding-top: 2.5rem;
    display: flex;
    justify-content: space-between;
}

.prices__container {
    height: 25.3125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prices__container_left {
    height: 24.25rem;
    align-items: flex-start;
}

.prices__list__container {
    width: 20.75rem;
    height: 17.5rem;
    margin: 0;
    display: flex;
    align-items: center;
    
    border: 1px solid var(--gray-border);
    border-radius: 20px;
}

.prices__list {
    height: 13.375rem;
    margin: 0 auto;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prices__item {
    width: 15.625rem;
    height: 3.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--light-green);
    border-radius: 20px;
}

.prices__item:hover {
    cursor: pointer;
    background: var(--light-green--prices-active);
}

.prices__item:hover .prices__arrow {
    background-color: var(--gray-round-contacts);
    background-image: url('../icons/prices_arrow_white.svg');
}

.prices__item__text {
    margin-left: 2.5rem;
    color: var(--black);
    font-weight: 700;
    font-size: 1.25rem;
}

.prices__container_rigth {
    max-height: 25.3125rem;
    align-items: flex-end;
}

.prices__h2,
.prices__h3 {
    margin: 0;
    max-width: 28.5rem;

    text-align: right;
    font-size: 2.5rem;
    line-height: 125%;
    color: var(--black);
}

.prices__arrow {
    margin-right: 2.5rem;
}

.prices__button {
    font-weight: 700;
    background-color: white;
}

.prices__img {
    width: 9.5rem;
    height: 10.875rem;
    background: url('../images/prices_leafs.png');
    background-size: 100%;
    object-fit: cover;
}

/* PRICES SECTION STYLES END */



/* CONTACTS SECTION STYLES START */

.contacts {
    height: 34.375rem;
    display: flex;
    justify-content: space-between;
}

.contacts__h2 {
    margin-top: 3.75rem;
    margin-left: 3rem;
    font-family: 'Inika';
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--green);
}

.contacts__img {
    margin-top: auto;
    width: 25rem;
    height: 31.125rem;
    order: -1;
    background: url('../images/contacts_woman.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.contacts__button {
    width: 28.125rem;
    height: 3.125rem;
    margin-top: 9.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--light-green--prices-active);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contacts__button__text {
    margin-left: 1.25rem;
    font-size: 1.25rem;
    letter-spacing: 0.05em;
}

.contacts__arrow {
    background-color: var(--gray-round-contacts);
    background-image: url('../icons/prices_arrow_white.svg');
    margin-right: 2.25rem;
}

.contacts__button:hover {
    background: var(--green-contacts-active);
    cursor: pointer;
}

.contacts__button:hover .contacts__arrow {
    background-color: var(--greeny-gray-round-active);
}

/* CONTACTS SECTION STYLES END */



/* FOOTER STYLES START */

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8.125rem;
}

.main-footer__copyright-link {
    color: var(--black);
}

.main-footer__text {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--black);
}

.main-footer__git {
    width: 10.625rem;
    display: flex;
    justify-content: space-between;
}

.main-footer__rsschool-link {
    display: block;
    margin-left: 1rem;
}

.main-footer__git-link:hover,
.main-footer__rsschool-link:hover {
    color: var(--orange);
}

.main-footer__git-link:active,
.main-footer__rsschool-link:active {
    color: var(--green);
}

.main-footer__socials {
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 11.75rem;
}

.socials__item {
    display: flex;
}

.socials__item:hover {
    border-radius: 50%;
    background: var(--light-green--prices-active);
}

.socials__item:active {
    border-radius: 50%;
    background: var(--green-contacts-active);
}

.socials__link {
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: center;
}

.socials__inst {
    background-image: url('../icons/socials_instagram.svg');
    
}

.socials__fb {
    background-image: url('../icons/socials_facebook.svg');
}

.socials__twi {
    background-image: url('../icons/socials_twitter.svg');
}

.socials__ptrst {
 background-image: url('../icons/socials_pinterest.svg');
}

/* FOOTER STYLES END */



/* MEDIA START*/

@media (max-width: 1250px) {
    .wrapper {
        padding-left: 3.125rem;
        padding-right: 3.125rem;
    }
    .contacts__button {
        width: 25rem;
        height: 3.125rem;
        
    }
    .contacts__h2 {
        margin-left: 0;
    }
}

@media (max-width: 1150px) {
    .contacts__img {
        width: 20rem;
        height: 25rem;
        background-size: 100%;
    }
}

@media (max-width: 1120px) {
    .services__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .services__item {
        margin-bottom: 2.375rem;
    }
    .services__item {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1080px) {
    .welcome__img {
        width: 17.5rem;
        height: 15.875rem;
    }
    .about__img {
        width: 15.625rem;
        height: 16.125rem;
    }
}

@media (max-width: 1020px) {
    .contacts {
        flex-direction: column;
        align-items: center;
    }
    .contacts__img {
        width: 12.5rem;
        height: 15.5rem;
        order: 3;
    }
    .contacts__button {
        width: 28.125rem;
        height: 3.125rem;
        margin-top: 0;
    }
}

@media (max-width: 990px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 860px) {
    .services__filter {
        margin-left: 1.5rem;
    }
}

@media (max-width: 790px) {
    html {
        font-size: 16px;
    }
    .main-header {
        height: 7.375rem;
    }
    .nav-list {
        width: 28.25rem;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
    }
    .nav-list__item {
        padding: 0;
    }
    .welcome {
        min-height: auto;
        min-height: 23.75rem;
        align-items: flex-start;
        padding-top: 2.5rem;
    }
    .welcome__content {
        width: 21.625rem;
        height: 19.375rem;
    }
    .welcome__h2 {
        font-size: 2.1875rem;
        line-height: 3.125rem;
    }
    .welcome__text {
        font-size: 1rem;
        line-height: 156%;
        margin-top: 0.625rem;
    }
    .welcome__img {
        order: 2;
    }
    .about {
        min-height: auto;
        height: 46.5rem; /*784px*/
        flex-direction: column;
        padding-top: 2.5rem;
    }
    .about__content {
        max-width: 41.75rem;
        height: 21.875rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .about__h2 {
        font-size: 2.1875rem;
        line-height: 2.875rem;
        text-align: center;
        margin: 0 auto;
    }
    .about__img {
        margin: auto;
        margin-bottom: 6rem;
    }
    .services {
        min-height: 107.5rem;
        padding-top: 3.625rem;
    }
    .services__top-container {
        padding-top: 0;
        margin-bottom: 0;
        flex-direction: column;
    }
    .services__h2 {
        font-size: 2.1875rem;
        line-height: 2.875rem;
    }
    .services__filter {
        margin-left: 0;
        margin-top: 2.5rem;
        max-width: 35rem;
    }
    .services__list {
        margin-top: 2.5rem;
        display: flex;
    }
    .services__item {
        margin: 0;
        margin-bottom: 2.375rem;
        max-width: 17.5rem;
        max-height: 28rem;
    }
    .service__img {
        width: 17.5rem;
    }
    .service__text {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }
    .prices {
        min-height: 34.0625rem;
    }
    .prices__container_left {
        height: 23.875rem;
    }
    .prices__h2 {
        font-size: 2.1875rem;
        margin-left: 0.875rem;
    }
    .prices__container_rigth {
        height: 22.375rem;
        margin-top: 6.25rem;
    }
    .prices__h3 {
        font-size: 1.5625rem;
        line-height: 2.1875rem;
    }
    .contacts {
        height: 46.25rem;
    }
    .contacts__h2 {
        margin-top: 2.5rem;
        margin-bottom: 6.25rem;
    }
    .contacts__img {
        margin-left: 1.25rem;
    }
    .main-footer {
        flex-direction: column;
        height: 8.125rem;
        padding-top: 2rem;
        padding-bottom: 1.125rem;
    }
    .main-footer__rsschool {
        margin-left: -1rem;
    }
    .main-footer__socials {
        margin: 0;
    }
    .main-footer__socials {
        margin-bottom: 0.625rem;
    }
}

@media (max-width: 710px) {
    .header__nav {
        display: none;
    }
    .main-header__burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 2.5rem;
        height: 1.625rem;
    }
    .burger__line {
        width: 100%;
        height: 2px;
        background: var(--light-gray);
    }
    .main-header__burger:hover .burger__line {
        background: var(--orange);
    }
    .welcome__content {
        min-height: 14.375rem;
    }
    .welcome__img {
        width: 14.375rem;
    }
}

@media (max-width: 700px) {
    html {
        font-size: 14px;
    }
    .prices__h3 {
        margin-left: 1rem;
    }
}

@media (max-width: 605px) {
    .services__list {
        display: grid;
        grid-template-columns: 1fr;
    }
    .services__item {
        margin: auto;
        margin-bottom: 2.5rem;
    }
    .prices__img {
        display: none;
    }
    .prices__container_rigth {
        height: 14.375rem;
    }
}

@media (max-width: 580px) {
    .welcome__img {
        width: 11.25rem;
    }
    .services__filter {
        min-width: 90%;
    }
}

@media (max-width: 536px) {
    .wrapper {
        padding-left: 1.5625rem;
        padding-right: 1.5625rem;
    }
    .main-header {
        height: 6rem;
    }
    .header__logo {
        padding-bottom: 0.375rem;
    }
    .welcome {
        min-height: auto;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .welcome__content {
        width: 90%;
        max-height: 15.75rem;
    }
    .welcome__h2 {
        font-size: 1.5625rem;
        line-height: 2.1875rem;
    }
    .about {
        height: auto;
        padding-top: 1.875rem;
    }
    .about__img {
        margin-top: 1.25rem;
    }
    .services {
        padding-top: 1.875rem;
        padding-bottom: 1.75rem;
    }
    .services__filter__button {
        margin-right: 0.625rem;
        margin-top: 0.625rem;
    }
    .services__item {
        margin-bottom: 2.125rem;
    }
    .services__item:last-of-type {
        margin-bottom: 0;
    }
    .service__text {
        margin-top: 0.625rem;
    }
    .prices {
        height: auto;
        padding-top: 1.4rem;
        flex-direction: column;
    }
    .prices__container {
        margin: 0 auto;
        align-items: center;
    }
    .prices__h2 {
        margin-left: 0;
    }
    .prices__container_rigth {
        height: 10rem;
        margin-top: 1.25rem;
        margin-bottom: 2.5rem;
    }
    .prices__h3 {
        text-align: center;
    }
}

@media (max-width: 460px) {
    html {
        font-size: 16px;
    }
    .orange-button {
        width: 7.5rem;
        height: 2.25rem;
        font-size: 0.9375rem;
    }
    .about__h2,
    .services__h2,
    .prices__h2,
    .contacts__h2 {
        font-size: 1.5rem;
        line-height: 2.0625rem;
    }
    .welcome__content {
        width: auto;
    }
    .welcome__img {
        display: none;
    }
    .about__content {
        height: auto;
    }
    .about__text {
        font-size: 0.9375rem;
        line-height: 1.5625rem;
    }
    .about__img {
        width: 9.375rem;
        height: 9.25rem;
        margin-top: 0;
        margin-bottom: 1.875rem;
    }
    .services__h2 {
        max-width: 11.875rem;
    }
    .services__filter {
        width: 80%;
        margin-top: 1.75rem;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .prices {
        height: 30.625rem;
        min-height: auto;
    }
    .prices__container_left {
        height: 19rem;
    }
    .prices__list__container {
        width: 14rem;
        height: 14.625rem;
    }
    .prices__list {
        height: 11rem;
    }
    .prices__item {
        width: 11.25rem;
        height: 3.125rem;
    }
    .prices__item__text {
        font-size: 0.9375rem;
        margin-left: 1.875rem;
    }
    .prices__container_rigth {
        height: 7.875rem;
    }
    .prices__h3 {
        width: 14.375rem;
        margin-left: 0;
        margin-top: 0;
        font-size: 1.25rem;
        line-height: 175%;
    }
    .contacts {
        height: 27.75rem;
    }
    .contacts__h2 {
        margin-top: 1.5rem;
        margin-bottom: 0;
    }
    .contacts__button {
        width: 90%;
        margin-top: 5rem;
    }
    .contacts__arrow {
        margin-right: 1.25rem;
    }
    .contacts__img {
        width: 6.25rem;
        height: 7.75rem;
        margin-left: 0;
    }
    .main-footer {
        height: 7.375rem;
        min-height: auto;
        padding: 0;
        margin-top: 1.375rem;
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 420px) {
    .welcome__button {
        width: 6.25rem;
        height: 2.125rem;
        font-size: 0.625rem;
    }
    .about__text {
        margin-bottom: 0;
    }

}

@media (max-width: 340px) {
    .wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .services__filter {
        width: 100%;
    }
}

/* MEDIA END*/