@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@300;400;700&display=swap');

:root {
    --orange: #E06733;
    --light-green: #EDF2EC;
    --green: #499A18;
    --light-gray: #717171;
    --gray: #636060; 
    --black: #000000;
    --black-nav: #010201;
    --border-gray: #E3E1D5;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--gray);
}

.hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.wrapper {
    max-width: 1220px;
    margin: 0 auto;
}



/* HEADER STYLES START */

.header-container {
    background: var(--light-green);
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 8.4375rem;
}

.header__logo {
    display: flex;
    align-items: center;

    padding-bottom: 0.5rem;
}

.logo__text {
    margin-bottom: 0.5rem;

    font-family: 'Inika', serif;
    color: var(--black);
}

.nav-list {
    display: flex;
}

.nav-list__item {
    padding-left: 2.875rem;
}

.nav-list__link {
    font-family: 'Inika', serif;
    color: var(--black-nav);
}

.active {
    font-weight: bold;
    color: var(--orange);
}

/* HEADER STYLES END */



/* WELCOME SECTION STYLES START */

.welcome-container {
    background: var(--light-green);
}

.welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 33.125rem;
}

.welcome__img {
    width: 28rem;
    height: 25.4375rem;

    order: -1;
    background: center url("../../assets/images/welcome_leafs.png");
}

.welcome__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 34.365rem;
    height: 21.25rem;
}

.welcome__h2 {
    margin: 0;

    font-size: 2.8125rem;
    color: var(--light-gray);
}

.welcome__h2_green {
    color: var(--green);
}

.welcome__text {
    max-width: 33rem;

    font-size: 1.25rem;
    line-height: 2.1875rem;
}

.welcome__button {
    max-width: 9.875rem;
    height: 2.75rem;

    border: 2px solid var(--orange);
    border-radius: 10px;
    text-transform: uppercase;
    background: var(--light-green);
}

/* WELCOME SECTION STYLES END */



/* ABOUT SECTION STYLES START */

.about {
    min-height: 41.625rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__content {
    /* display: flex;
    flex-direction: column; */

    max-width: 37.81rem;
    /* max-height: 21.875rem; */
    max-height: 21.18rem;
}

.about__text {
    font-size: 1.25rem;
    line-height: 1.875rem;
}

.about__h2 {
    max-width: 28.75rem;
    margin-top: 0;

    font-family: 'Inika';
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3.25rem;
    color: var(--green);
}

.about__h2_orange {
    color: var(--orange);
}

.about__img {
    width: 29rem;
    height: 30rem;
    background: url("../images/about_plant.jpg");

}

/* ABOUT SECTION STYLES END */



/* SERVICES SECTION STYLES START */

.services-container {
    background: var(--light-green);
}

.services {
    min-height: 81.25rem;
}

.services__top-container {
    display: flex;
    justify-content: space-between;

    max-width: 63.125rem;
    min-height: 5.875rem;
    padding-top: 2.5rem;
    margin-bottom: 5.25rem;
}

.services__h2 {
    max-width: 19.125rem;
    margin: 0;

    font-family: 'Inika';
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3.25rem;
    color: var(--green);

}

.services__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-width: 35rem;
}

.services__filter__button {
    width: 10rem;
    height: 3.125rem;

    font-family: 'Inika';
    font-size: 1.25rem;
    color: var(--orange);

    background: var(--light-green);
    border: 1px solid var(--orange);
    border-radius: 5px;
}

.services__list {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;

    min-height: 59.6875rem;
    margin: 0;
    padding: 0;
}

.services__item {
    width: 20.625rem;
    height: 28.125rem;

    border: 1px solid var(--border-gray);
    border-radius: 1.25rem;
    overflow: hidden; 

    text-align: center;
}

.service__img {
    width: 20.5625rem;
    height: 21.875rem;
    object-fit: cover;
    padding-bottom: 0.25rem;
}

.service__name {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--orange);
}

.service__text {
    color: var(--light-gray);
}

/* SERVICES SECTION STYLES END */