@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@300;400;700&display=swap');

:root {
    --orange: #E06733;
    --light-green: #EDF2EC;
    --green: #499A18;
    --light-gray: #717171;
    --gray: #636060; 
    --black: #000000;
    --black-nav: #010201;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--gray);
}

.hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.wrapper {
    max-width: 1220px;
    margin: 0 auto;
}



/* HEADER STYLES START */

.header-container {
    background: var(--light-green);
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 8.4375rem;
}

.header__logo {
    display: flex;
    align-items: center;

    padding-bottom: 0.5rem;
}

.logo__text {
    margin-bottom: 0.5rem;

    font-family: 'Inika', serif;
    color: var(--black);
}

.nav-list {
    display: flex;
}

.nav-list__item {
    padding-left: 2.875rem;
}

.nav-list__link {
    font-family: 'Inika', serif;
    color: var(--black-nav);
}

.active {
    font-weight: bold;
    color: var(--orange);
}

/* HEADER STYLES END */



/* WELCOME SECTION STYLES START */

.welcome-container {
    background: var(--light-green);
}

.welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 33.125rem;
}

.welcome__img {
    order: -1;
    margin-left: -0.5rem;
}

.welcome__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 34.375rem;
    height: 21.25rem;
}

.welcome__h2 {
    margin: 0;

    font-size: 2.8125rem;
    color: var(--light-gray);
}

.green-text {
    color: var(--green);
}

.welcome__text {
    max-width: 33rem;

    font-size: 1.25rem;
    line-height: 2.1875rem;
}

.welcome__button {
    max-width: 9.875rem;
    height: 2.75rem;

    border: 2px solid var(--orange);
    border-radius: 10px;
    text-transform: uppercase;
    background: var(--light-green);
}

/* WELCOME SECTION STYLES END */